body{
    background-color: #282c34
}
.container{
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    

}
.app-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border: 1px solid white;
}
.app-heading{
    font-size: 2em;
    color: white;
    margin: 0;
    padding: 20px;
    background-color: #282c34;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.app-bar > img {
    height: 40px;
    margin: 10px;
    cursor: pointer;
    
}

.app-body{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    position: relative;
}
/* phone size */
@media screen and (max-width: 426px){
    .app-body{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .app-body .form{
      width: 100%;
    }
}
/* tab size */
@media screen and (max-width: 769px){
    .app-body{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .app-body .form{
        width: 100%;
    }
}