body{
    background-color: #1E1E1E
}
.container{
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    

}

