.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-container input{
    padding: 10px;
    width: 75%;
}
.search-container button{
    width: 20%;
    padding: 10px;
    background-color: #477be3;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}