*{
    box-sizing: border-box;
}
.form-contaner{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* padding-top:0px ; */
   position: inherit;
   border-radius: 5px;
   background-color: #2F2F2F
}

/* h1 */
.form-contaner > h1{
    color: white;
    font-family: 'Arial', sans-serif;
    height: 10%;
    margin-bottom: 20px ;
}

.form-contaner > form{
   gap : 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}

/* input */
.form-contaner > form input{
    width: 100%;
    height: 50px;
    /* margin-top: 10px; */
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #040404;
    color: rgb(193, 193, 193);
}

.form-contaner > form .msg{
    height: 60px;
    text-wrap: wrap;
}
.form-contaner > form .file{
    /* height: 100px; */
    color: white;
    width: 100%;
}
.form-contaner > form .file input{
    background-color: #2F2F2F;

}








/* image */
.form-contaner > form > .image{
    color: white;
    cursor: pointer;
    width: 100%;
;
}

/* btns */
.form-contaner > form button{
    width: 100%;
    height: 40px;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form-contaner > form > .submit-btn{
    background-color: #477be3;
    color: white;
    cursor: pointer;
}
.form-contaner > form  .submit-btn:hover{
    background-color: #144db7;
    color: white;
    cursor: pointer;
}
.form-contaner > form > .clear-btn{
    background-color: #c52819;
    color: white;
    cursor: pointer;
}
.form-contaner > form  .clear-btn:hover{
    background-color: #801414;
    color: white;
    cursor: pointer;
}

@media screen and ( max-width: 769px){
    .form-contaner{
        width: 80%;
        margin:0 auto;
        
    }
}
@media screen and (max-width: 426px){
    .form-contaner{
        width: 100%;
        margin:0 0;
    }
}

.form-contaner .no-user{
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}